
<div class="container"><br>
<div class="bgtable">
<%= form_for @car, url:{action: "update"}, html: {class:"form"} do |s| %>


<%= render :partial => 'form', :locals => {:s => s} %>

<% end %>

</div>
</div>



